<div style="margin-top:20px">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Company</th>
        <th>Action</th>    
      </tr>  
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; let i = index">
        <td> {{user.name}} </td>
        <td> {{user.email}} </td>
        <td> {{user.address.street}} </td>
        <td> {{user.company.name}} </td>
        <td> <button type="button" class="btn btn-danger" (click)="deleteUser(i)">Remove</button> </td>
      </tr>
    </tbody>
  </table>  
</div>