<div class="container-fluid" style="margin-top:20px">
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" routerLink="/" href="#" role="tab">User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="/adduser" href="#" role="tab">Add User</a>
      </li>
    </ul>    
  </div>

<div>
  <router-outlet></router-outlet>
</div>

</div>