<div>
  
  <h2>User Data</h2>

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Name</label>
    <div class="col-5">
      <input class="form-control" type="text" [(ngModel)]="newName" placeholder="Your name">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">Email</label>
    <div class="col-5">
      <input class="form-control" type="email" [(ngModel)]="newEmail" placeholder="Your email. Example: name@domain.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
    <div class="col-5">
      <input class="form-control" type="tel" [(ngModel)]="newTelephone" placeholder="Your phone. Example: 1-(555)-555-5555">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Address</label>
    <div class="col-5">
      <input class="form-control" type="text" [(ngModel)]="newAddress" placeholder="Your address">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Company</label>
    <div class="col-5">
      <input class="form-control" type="text" [(ngModel)]="newCompany" placeholder="Your company">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label"></label>
    <div class="col-10">
      <button type="button" class="btn btn-success" (click)="addUser()">Add User</button>
    </div>
  </div>
  

</div>